{%extends "base.html"%}

{% block content %}
{%for pokemon in pokemons%}
    <p>{{pokemon.number.label}}{{pokemon.number}}</p>
    <p>{{pokemon.imageUrl.label}}{{pokemon.imageUrl}}</p>
    <p>{{pokemon.name.label}}{{pokemon.name}}</p>
    <p>{{pokemon.attack.label}}{{pokemon.attack}}</p>
    <p>{{pokemon.defense.label}}{{pokemon.defense}}</p>
    <p>{{pokemon.type.label}}{{pokemon.type}}</p>
    <p>{{pokemon.moves.label}}{{pokemon.moves}}</p>
    <p>{{pokemon.captured.label}}{{pokemon.captured}}</p>
{%endfor%}
{% endblock %}
